	<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
	<title>회원 등록</title>
	</head>
	<body>
	회원 등록: ${memberInfo.name}, ${memberInfo.address.address1}, ${memberInfo.address.address2}
	</body>
	</html>
